---
export const prerender = false;

import Layout from "../layouts/root.astro";
import { ViewTransitions } from "astro:transitions";
import { utapi } from "../server/uploadthing.ts";
import { UPLOADTHING_APP_ID } from "astro:env/server";
import { ReactLightbox } from "../components/lightbox";

const files = await utapi.listFiles();
---

<Layout title="Enjoy!"
    ><ViewTransitions />
    <div
        id="my-gallery"
        class="grid grid-rows-auto grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 h-full"
    >
        {
            files.files.map((file) => (
                <img
                    loading="lazy"
                    decoding="async"
                    src={`https://utfs.io/a/${UPLOADTHING_APP_ID}/${file.key}`}
                    class="gallery-image h-[250px] w-[350px] object-cover shadow"
                />
            ))
        }
        <ReactLightbox
            client:load
            slides={files.files.map((f) => {
                return {
                    src: `https://utfs.io/a/${UPLOADTHING_APP_ID}/${f.key}`,
                };
            })}
        />
    </div>
    <script>
        import { isLightboxOpen, lightboxIndex } from "../lightbox-store";

        // Find all buttons with the `alert` class on the page.
        const buttons = document.querySelectorAll("img.gallery-image");

        // Handle clicks on each button.
        buttons.forEach((button, key) => {
            button.addEventListener("click", () => {
                lightboxIndex.set(key);
                isLightboxOpen.set(true);
            });
        });
    </script>
</Layout>
