---
import { eq } from "drizzle-orm";
import { drizzle } from "drizzle-orm/d1";
import { userTable } from "../server/db/schema";

import Layout from "../layouts/root.astro";
import { PhoneNumber } from "../server/auth";
import { InputOtp } from "../components/otp";

export const prerender = false;

const errors = { phone: "" };
if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const phoneRaw = data.get("phone")?.toString();
        if (!phoneRaw) {
            errors.phone =
                "You entered a jacked up phone number. Please enter a better phone number!";
        } else {
            const phone = new PhoneNumber(phoneRaw);

            const db = drizzle(Astro.locals.runtime.env.WEDDING_DB, {
                schema: { user: userTable },
            });

            const known = await db.query.user.findFirst({
                where: eq(userTable.phoneNumber, phone.value()),
            });

            if (!known) {
                errors.phone =
                    "We don't recognize your number! Reach out to Alex or Meghan to get added to the list!";
            }
            // await sendOtp(phone);
        }
    } catch (error) {
        if (error instanceof Error) {
            errors.phone = error.message;
            console.error(error.message);
        }
    }
}
---

<Layout title="Thank you for sharing this day with us">
    <form method="POST" class="max-w-sm mx-auto py-20">
        <div class="flex items-center">
            <label
                for="phone-input"
                class="mb-2 text-sm font-medium text-gray-900 sr-only"
                >Phone number:</label
            >
            <div class="relative w-full">
                <input
                    autocomplete="tel-national"
                    type="tel"
                    id="phone-input"
                    name="phone"
                    aria-describedby="helper-text-explanation"
                    class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-lg border-s-0 border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                    placeholder="123-456-7890"
                    required
                />
            </div>
        </div>

        {
            errors.phone && (
                <p
                    id="error-text-explanation"
                    class="mt-2 mb-4 text-sm text-red-800 font-bold"
                >
                    Uh-oh! {errors.phone}
                </p>
            )
        }
        <p
            id="helper-text-explanation"
            class="mt-2 mb-4 text-sm text-gray-500 dark:text-gray-700"
        >
            We will send you a text message with a verification code.
        </p>
        <button
            type="submit"
            class="text-white w-full bg-pink-200 hover:bg-pink-300 focus:ring-4 focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
            >Text a login code</button
        >
        <InputOtp client:load />
    </form>
</Layout>
